@media only screen and (max-width: 887px) {
    .css-item-col{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {
    .css-button-wrap{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .css-button-margin{
        margin-top: 3px;
        width: 50%;
        align-self: center;
        margin-bottom: 2px;
    }
}